.mainBox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.subBox {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: grey;
    padding: 15px;
    border-radius: 15px;
}

.mainBox input {
    padding: 5px;
}

.mainPart {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: aqua;
    padding: 10px;
}

.mainPart input {
    width: 50%;
}

.listasEscolha {
    background-color: lightgrey;
}

.divListas {
    background-color: blanchedalmond;
}

.anim {
    transition: transform 0.3s ease-in-out;
}

.anim:hover {
    transform: scale(1.2) rotate(5deg);
}

.mainBox input:disabled {
    background-color: white;
    border: 0px;
}