.mainBox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.subBox {
    background-color: grey;
    text-align: center;
    padding: 10px;
    width: 35%;
}

.colorBox {
    background-color: aqua;
    height: 100px;
}

.mainBox button {
    padding: 5px;
    border-radius: 20px;
    background-color: darkgrey;
}
